/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: whitesmoke;
    color: #00456c;
    line-height: 1.6;

}

#logo{
    padding-left: 20px;
    margin: 0 auto;
    cursor: pointer;

}

#logo a{
    color:white;
    text-decoration: none;
}

/* Main Styles */

main {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    /* columns: 300px; */
}

/* Header Styles */

header {
    background: #010d41;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    z-index: 1000;
    top: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

li {
    padding: 5px;
    columns: 10rem;
    text-align: center;
    transition: all 0.2s ease-in;

    &:hover {
        background-color: #0062ff;
        border: 5px solid white;
        border-radius: 8px;
        border: none;
    }

    &:active {
        transform: scale(0.8);
    }
}

/* info button */
.info {
    background: #007BFF;
    color: #fff;
    border: none;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;


    &:hover {
        background-color: #005fc4;
        transform: scale(1.05);
        box-shadow: 2px 2px 10px gray;
    }
}

#learn-more {
    background-color: darkblue;
    position: relative;
    border-radius: 10px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 110%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
}

#learn-more a {
    color: lime;
}

button {
    position: relative;
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1965ff;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #0062ff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/* Card Styles */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    justify-content: center;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.4rem;
    margin: 0.5rem;
    display: inline-block;
    /* display: grid; */
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    columns: 250px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
}

.sch-card {
    position: relative;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    columns: 400px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.sch-card .i {
    position: absolute;
    top: -25px;
    right: 5px;
    background-color: #007BFF;
    color: white;
    font-weight: bolder;
    font-family: none;
    border: none;
    border-radius: 50% 10% 10% 50%;
    width: 30px;
    height: 30px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sch-card h2, hr{
    margin: 20px;
}

.sch-card button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    /* margin-top: 20px; */
    transition: all 0.1s ease;
}

.sch-card button:hover {
    background: #0056b3;
    /* font-size: 18px; */
}
.sch-main h1{
    margin: 40px 0 0 0;
    color:black;
    font-size: 35px;
}

/* Hero Styles */

.hero {
    background: #007BFF;
    color: #fff;
    /* width: 80%; */
    padding: 50px 20px;
    margin: 40px 0 0 0;
    transition: background 0.5s ease;
    border-radius: 20px;
}

.hero:hover {
    background: #0056b3;
}

/* Scholarships Styles */

.scholarships {
    padding: 2em;
    background: #f9f9f9;
}

.scholarships li {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.scholarships li:nth-child(1) {
    animation-delay: 0.5s;
}

.scholarships li:nth-child(2) {
    animation-delay: 1s;
}

.scholarships li:nth-child(3) {
    animation-delay: 1.5s;
}

/* Contact Styles */

.contact {
    width: 60%;
    height: 100%;
    margin: 100px 0 70px 0;
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background: whitesmoke;
    border: 6px solid #1965ff;
    box-shadow: 12px 12px 0 black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact:hover {
    transform: translate(-5px, -5px);
    box-shadow: 17px 17px 0 black;
}

.contact__title {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    position: relative;
    overflow: hidden;
}

.contact__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 3px;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.contact:hover .contact__title::after {
    transform: translateX(0);
}

.contact__content {
    font-size: 16px;
    font-weight: bold;
    font-family: cambria;
    line-height: 1.4;
    margin-bottom: 20px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.contact__form input {
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #1965ff;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    transition: transform 0.3s;
    width: 70%;
    color: limegreen;
    margin: 0 auto;
    /* Adjust for padding and border */
}

.contact__form input:focus {
    outline: none;
    transform: scale(1.05);
    font-family: sans-serif;
    font-weight: bold;
    background-color: #006eff;
    color: #fff;
}
input::placeholder {
    color: #000;
    opacity: 0.7;
    font-weight: bold;
}

.contact__button {
    border: 3px solid #000;
    background: #0b71ff;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    left: 20%;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    width: 50%;
    /* height: 100%; */
    margin-left: 5%;
}

.contact__button::before {
    content: "tap";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: #ffffff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.contact__button:hover::before {
    transform: translateY(0);
}

.contact__button:active {
    transform: scale(0.95);
}

/* footer{ */
    /* bottom:0; */
/* } */
/* Back to top */
.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 80%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 1s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 70px;
    border-radius: 50px;
    transition-duration: 0.5s;
    background-color: #4b6fff;
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 1s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}


/* Footer Styles */

footer {
    background: #010d41;
    color: #fff;
    text-align: center;
    /* flex-wrap: wrap; */
    padding: 10px 0;
    border-radius: 10px 10px 0px 0px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    font-weight: bold;
    bottom: 0;
    /* position: fixed; */
    display: hidden;
}

/* Form Styles */

form label {
    display: block;
    margin: 5px 0 5px;
}

form input,
form textarea,
form button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form button {
    background: #007BFF;
    color: #fff;
    border: none;
    width: 50%;
    transition: all 0.3s ease;


    &:hover {
        background: #005fc4;
        transform: scale(1.05);
        box-shadow: 2px 2px 10px gray;
    }
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* User page styles */
.wrapper {
    --input-focus: #ffffff;
    --font-color: #000000;
    --font-color-sub: #000000;
    --bg-color: #2259ff;
    --bg-color-alt: #c51c1c;
    --main-color: #000000;
}

.switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    /* max-height: 20px; */
    height: 20px;
    margin: 0 auto;
    margin-top: 300px;
}

.card-side::before {
    position: absolute;
    content: 'Log in';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;

}

.card-side::after {
    position: absolute;
    content: 'Sign up';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: var(--bg-color); */
    transition: 0.3s;
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: rgb(0, 119, 255);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
}

.toggle:checked+.slider {
    background-color: var(--input-focus);
}

.toggle:checked+.slider:before {
    transform: translateX(30px);
}

.toggle:checked~.card-side:before {
    text-decoration: none;
}

.toggle:checked~.card-side:after {
    text-decoration: underline;
}

.flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle:checked~.flip-card__inner {
    transform: rotateY(180deg);
}

.toggle:checked~.flip-card__front {
    box-shadow: none;
}

.flip-card__front,
.flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: whitesmoke;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 5px 5px var(--main-color);
}

.flip-card__back {
    width: 100%;
    transform: rotateY(180deg);
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    /* color: var(--main-color); */
}

.flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: #47a3ff;
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    outline: none;
}

.flip-card__input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.5;
}

.flip-card__input:focus {
    border: 2px solid var(--input-focus);
}

.flip-card__btn:active,
.button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: #469fff;
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background-color: #1d43ff;
        color: white;
    }
}